<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.IDao">

	<!-- 게시판 -->

	<insert id="boardSave" parameterType="map"
		useGeneratedKeys="true" keyProperty="board_no">
		INSERT INTO BOARD
		(BOARD_NAME,
		BOARD_TITLE,
		BOARD_CONTENT, BOARD_CREATED)
		VALUES
		(#{board_name},
		#{board_title},#{board_content}, NOW())
	</insert>



	<insert id="boardSaveFile">
		INSERT INTO BOARD_FILE (BOARD_NO, ORIGINAL_NAME,
		SAVE_NAME,
		FILE_PATH, FILE_SIZE, FILE_EXTENSION)
		VALUES (#{boardNo},
		#{originalName}, #{saveName},
		#{filePath}, #{fileSize},
		#{fileExtension})
	</insert>


	<select id="boardView" resultType="BoardDto">
		SELECT BOARD_NO,BOARD_NAME,
		BOARD_TITLE, BOARD_CONTENT, BOARD_CREATED, UPDATED_AT
		FROM BOARD
		WHERE
		BOARD_NO =
		#{board_no}
	</select>


	<delete id="boardDelete">
		DELETE FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</delete>


	<update id="boardUpdate">
		update board set
		BOARD_NAME = #{board_name},
		BOARD_TITLE = #{board_title},
		BOARD_CONTENT = #{board_content},
		UPDATED_AT = NOW()
		WHERE BOARD_NO = #{board_no}

	</update>

	<select id="boardListPaging" resultType="BoardDto">
		SELECT * FROM BOARD
		ORDER BY BOARD_NO DESC
		LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<select id="boardTotalCount" resultType="int">
		SELECT COUNT(*) FROM
		BOARD
	</select>



	<select id="boardFileView" resultType="BoardFileDto">
		SELECT * FROM BOARD_FILE
		WHERE BOARD_NO = #{board_no}
	</select>


	<!-- 일정표 -->

	<insert id="schedulerSave">
		INSERT INTO SCHEDULER(USER_ID, SCHEDULE_DATE,
		CONTENT) VALUES
		(#{user_id},#{schedule_date},#{content})
	</insert>

	<select id="schedulerList" resultType="SchedulerDto">
		SELECT
		SCHEDULE_ID,SCHEDULE_DATE,
		CONTENT,ISDONE FROM SCHEDULER
	</select>

	<update id="schedulerUpdate">
		UPDATE SCHEDULER
		SET CONTENT = #{content},
		UPDATE_AT =
		NOW()
		WHERE
		SCHEDULE_ID = #{schedule_id}
	</update>


	<delete id="schedulerDelete">
		DELETE FROM SCHEDULER
		where SCHEDULE_ID =
		#{schedule_id}
	</delete>

	<update id="schedulerIsDone">
		UPDATE SCHEDULER
		SET ISDONE  = 
		(CASE WHEN ISDONE = 0 THEN 1
			  WHEN ISDONE = 1 THEN 0
			  END)
		WHERE SCHEDULE_ID =
		#{schedule_id}

	</update>


</mapper>




